#nav {
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    height: 70px;
    font-size: 35px;
}

button {
    border: none;
    font-size: 25px;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.cart-container {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 8px;
  font-size: 14px;
  font-weight: bold;
}