#nav {
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    height: 70px;
    font-size: 35px;
}

button {
    border: none;
    font-size: 25px;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}