#weather-card {
  width: 400px;
  height: auto;
  background-color: rgb(182, 237, 255);
  border: 3px solid rgb(75, 216, 255);
  border-radius: 10%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

#city-input {
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
  font-size: 16px;
  border: 2px solid rgb(75, 216, 255);
  border-radius: 5px;
}

#search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(75, 216, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}